@model InnDocs.iHealth.Web.UI.Areas.iHealthUser.Models.UserRepository.AddUser
@{
    ViewBag.Title = "Edit USer";
}
@Scripts.Render("~/bundles/PerAccUser")
<div id="EditUserDiv" style="width: 400px;" class="bluegrad">
    @*<form id="EditForm" action="@Url.Action("EditUser", "AccountSettings")" method="post" >*@
    @using (Ajax.BeginForm("EditUser", "AccountSettings", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "closeModal", OnFailure = "displayError", OnBegin = "loading" }))
    {
        @Html.ValidationSummary(true);
        <div style="height: 40px;">
            <h4 class="PMoreInfo_btm">
                User details</h4>
        </div>
        <div style="width: auto;">
            <input type="hidden" name="UserId" value="@Model.UserId" />
            <ul>
                <li style="width: 100%" class="inline">
                    <div class="tldiv inline">
                        <h6>
                            First name:<span style="font-weight: 600; padding: 15px 0px 0px 2px; color: rgb(251, 2, 2);
                                font-size: medium;">*</span></h6>
                    </div>
                    <div class="trdiv inline">
                        @*<input type="text" name="FirstName" value="@Model.FirstName" class="create-logtxts" />*@
                        @Html.TextBoxFor(model => Model.FirstName, new { title = "First name", @class = "create-logtxts" })
                        @Html.ValidationMessageFor(model => Model.FirstName)
                    </div>
                </li>
                <li style="width: 100%" class="inline">
                    <div class="tldiv inline">
                        <h6>
                            Last name:<span style="font-weight: 600; padding: 15px 0px 0px 2px; color: rgb(251, 2, 2);
                                font-size: medium;">*</span></h6>
                    </div>
                    <div class="trdiv inline">
                        @*<input type="text" name="LastName" value="@Model.LastName" class="create-logtxts" />*@
                        @Html.TextBoxFor(model => Model.LastName, new { title = "Last name", @class = "create-logtxts" })
                        @Html.ValidationMessageFor(model => Model.LastName)
                    </div>
                </li>
                @*<li style="width: 100%" class="inline">
                    <div class="tldiv inline">
                        <h6>
                            Loginname:<span style="font-weight: 600; padding: 15px 0px 0px 2px; color: rgb(251, 2, 2);
                                font-size: medium;">*</span></h6>
                    </div>
                    <div class="trdiv inline">
                        @*<input type="text" name="LoginName" value="@Model.LoginName" class="create-logtxts" />*@
                @*          @Html.TextBoxFor(model => Model.LoginName, new { title = "Login name", @class = "create-logtxts" })
                        @Html.ValidationMessageFor(model => Model.LoginName)
                    </div>
                </li>*@
                <li style="width: 100%" class="inline">
                    <div class="tldiv inline">
                        <h6>
                            Relationship:<span style="font-weight: 600; padding: 15px 0px 0px 2px; color: rgb(251, 2, 2);
                                font-size: medium;">*</span></h6>
                    </div>
                    <div class="trdiv inline">
                        @*<input type="text" name="Relationship" value="@Model.Relationship" class="create-logtxts" />*@
                        @Html.TextBoxFor(model => Model.Relationship, new { title = "Relationship", @class = "create-logtxts" })
                        @Html.ValidationMessageFor(model => Model.Relationship)
                    </div>
                </li>
                <li style="width: 100%" class="inline">
                    <div class="tldiv inline">
                        <h6>
                            Gender<span style="font-weight: 600; padding: 15px 0px 0px 2px; color: rgb(251, 2, 2);
                                font-size: medium;">*</span>
                        </h6>
                    </div>
                    <div class="trdiv inline">
                        @Html.RadioButtonFor(m => m.Gender, "Male", Model.Gender == "Male" ? new { Checked = "checked" } : null)
                        Male
                        @Html.RadioButtonFor(m => m.Gender, "Female", Model.Gender == "Female" ? new { Checked = "checked" } : null)
                        Female
                    </div>
                </li>
            </ul>
        </div>
        <div id="chk" style="width: 100%; height: 35px; margin-left: 10px;">
            @Html.CheckBoxFor(model => Model.IsUsingModeratorCredentials, new { id = "rbtusngModerator", @checked = Model.IsUsingModeratorCredentials })
            Login with moderator credentials
        </div>
        <div id="pwd" style="width: 100%">
            <ul>
                <li style="width: 100%" class="inline">
                    <div id="EMailDiv" class="tldiv inline">
                        <h6>
                            Mail id<span style="font-weight: 600; padding: 15px 0px 0px 2px; color: rgb(251, 2, 2);
                                font-size: medium;">*</span></h6>
                    </div>
                    <div class="trdiv inline">
                        @Html.TextBoxFor(model => Model.EmailId, new { title = "Mail id", id = "one", @class = "create-logtxts" })
                        @Html.ValidationMessageFor(model => Model.EmailId)
                    </div>
                </li>
                <li style="width: 100%" class="inline">
                    <div id="PwdDiv" class="tldiv inline">
                        <h6>
                            Password<span style="font-weight: 600; padding: 15px 0px 0px 2px; color: rgb(251, 2, 2);
                                font-size: medium;">*</span></h6>
                    </div>
                    <div class="trdiv inline">
                        @Html.PasswordFor(model => Model.Password, new { title = "Password", @class = "create-logtxts" })
                        @Html.ValidationMessageFor(model => Model.Password)
                    </div>
                </li>
            </ul>
        </div>
        <div style="width: 100%" class="inline">
            <button id="btnCancel" style="float: right;" class="graygrad">
                Cancel</button>
            <input type="submit" id="btnSubmit" value="Update" style="float: right; margin-right: 10px;"
                class="greengrad" />
        </div>
@*</form>*@
    }
</div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47299480-1', 'bumpdocs.com');
    ga('send', 'pageview');

</script>

