@model InnDocs.iHealth.Web.UI.Areas.iHealthUser.Models.UserRepository.Cases
@*<script src="../../../../CustomScripts/eidtvisits.js" type="text/javascript"></script>*@
<script type="text/javascript">
    $(function () {
        $('.nav_UV > li > a').click(function () {
            if ($(this).attr('class') != 'active') {
                $('.nav_UV li ul').slideUp();
                $(this).next().slideToggle();
                $('.nav_UV li a').removeClass('active');
                $(this).addClass('active');
            }
        });
        $("#Heightfeet,#Weight,#Temperature").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 190 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
            // Allow: Ctrl+A
    (event.keyCode == 65 && event.ctrlKey == true) ||
            // Allow: home, end, left, right
    (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) || ($(this).val().length >= 5)) {
                    event.preventDefault();
                }
            }
        });
        $("#Sistole,#Diastole,#Respiratoryrate,#PulseRate").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
            // Allow: Ctrl+A
    (event.keyCode == 65 && event.ctrlKey == true) ||
            // Allow: home, end, left, right
    (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) || ($(this).val().length >= 3)) {
                    event.preventDefault();
                }
            }
        });
        $("#weight,#temperature,#bp,#respiratory,#pulsrate").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
            // Allow: Ctrl+A
(event.keyCode == 65 && event.ctrlKey === true) ||
            // Allow: home, end, left, right
(event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) || ($(this).val().length >= 3)) {
                    event.preventDefault();
                }
            }
        });
        $("#height").keyup(function () {
            if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            }
        });
        $("#contactnumber").keydown(function (event) {
            // Allow: backspace, delete, tab, escape, and enter
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
            // Allow: Ctrl+A
(event.keyCode == 65 && event.ctrlKey === true) ||
            // Allow: home, end, left, right
(event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) || ($(this).val().length >= 10)) {
                    event.preventDefault();
                }
            }
        });
        $('#doctorname,#email,#dietprescription').keydown(function (e) {
            if (e.ctrlKey || e.altKey) {
                e.preventDefault();
            } else {
                var key = e.keyCode;
                if (!((key == 8) || (key == 32) || (key == 9) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                    e.preventDefault();
                }
            }
        });
    });
</script>
<link href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" rel="stylesheet" />
<div id="UpdateVisits" class="bluegrad" style="width: 520px; height: 450px; overflow-y: auto;">
    <h2 class="h3border">
        Visits</h2>
    <form id="frmUVisitId" enctype="multipart/form-data" class="visit">
    <input type="hidden" name="Visits.CaseId" value="@Model.Visits.CaseId" />
    <input type="hidden" name="Visits.visitId" value="@Model.Visits.visitId" />
    <ul style="display: inline-block; width: 93% !important;">
        <li class="labelChart">Visit date:<span style="font-weight: 600; padding: 15px 0px 0px 2px;
            color: rgb(251, 2, 2); font-size: medium;">*</span></li>
        <li class="labelChartB">
            <input type="text" name="Visits.CurrentVisitDate" id="cvisitDate2" value="@Model.Visits.CurrentVisitDate" title="Enter the visit date" tabindex="1" placeholder = "MM/DD/YYYY" class="create-logtxts" />
        </li>
        <li class="labelChart">Reason:<span style="font-weight: 600; padding: 15px 0px 0px 2px;
            color: rgb(251, 2, 2); font-size: medium;">*</span></li>
        <li class="labelChartB">@*Html.TextBoxFor(model => model.Visits.Reason, new { @title = "Reason to visit", @class = "create-logtxts" })
            @Html.ValidationMessageFor(model => model.Visits.Reason)*@
            <input type="text" name="Visits.Reason" value="@Model.Visits.Reason" title="Reason to visit" tabindex="2"
                id="reasonid" class="create-logtxts" />
        </li>
        <li class="labelChart">Diet prescription:</li>
        <li class="labelChartB">
            <input type="text" name="Visits.DietPresc" value="@Model.Visits.DietPresc" class="create-logtxts" title="Enter the Reason  " tabindex="3" />
        </li>
        <li class="labelChart">Doctor's comment:</li>
        <li class="labelChartB">
            @Html.TextAreaFor(model => model.Visits.DoctorsLog, new { @class = "create-logtxts", @title = "Describe DoctorsComment", @style = "height: 30px", tabindex = "4" })
            @Html.ValidationMessageFor(model => model.Visits.DoctorsLog)
        </li>
        <li class="labelChart">Precautions:</li>
        <li class="labelChartB">
            <input type="text" name="Visits.Precautions" value="@Model.Visits.Precautions" class="create-logtxts" title="Enter the Reason" tabindex="5" />
        </li>
        <li style="width: 100%;">
            <ul class="nav_UV">
                <li><a href="#nr">Nurse Readings: </a>
                    @if (Model.Visits.NurseReadingsInfo == null)
                    {
                        <em>--No Readings--</em>
                    }
                    else
                    {
                        <ul id="nr" class="HspInfo">
                            <li class="labelChart" style="width: 45%">Height:</li>
                            <li class="labelChartB" style="width: 45%">
                                <input type="text" id="height" name="Visits.NurseReadingsInfo.Height" value="@Model.Visits.NurseReadingsInfo.Height" class="create-logtxts" title="Enter the Reason " />Cms
                            </li>
                            <li class="labelChart" style="width: 45%">Weight:</li>
                            <li class="labelChartB" style="width: 45%">
                                <input type="text" id="weight" name="Visits.NurseReadingsInfo.Weight" value="@Model.Visits.NurseReadingsInfo.Weight" class="create-logtxts" title="Enter the Reason " />Kgs
                            </li>
                            <li class="labelChart" style="width: 45%">Temperature:</li>
                            <li class="labelChartB" style="width: 45%">
                                <input type="text" id="temperature" name="Visits.NurseReadingsInfo.Temparature" value="@Model.Visits.NurseReadingsInfo.Temparature" class="create-logtxts" title="Enter the Reason " />
                            </li>
                            <li class="labelChart" style="width: 45%">Blood pressure:</li>
                            <li class="labelChartB" style="width: 45%">
                                <input type="text" id="bp" name="Visits.NurseReadingsInfo.Sistole" value="@Model.Visits.NurseReadingsInfo.Sistole" class="create-logtxts" style= "width:75px;" />/<input type="text" name="Visits.NurseReadingsInfo.Diastole" value="@Model.Visits.NurseReadingsInfo.Diastole" class="create-logtxts" style= "width:75px;" />
                            </li>
                            <li class="labelChart" style="width: 45%">Respiratory rate:</li>
                            <li class="labelChartB" style="width: 45%">
                                <input type="text" id="respiratory" name="Visits.NurseReadingsInfo.Respiratoryrate" value="@Model.Visits.NurseReadingsInfo.Respiratoryrate" class="create-logtxts" title="Enter the Reason " />
                            </li>
                            <li class="labelChart" style="width: 45%">Pulse rate:</li>
                            <li class="labelChartB" style="width: 45%">
                                <input type="text" id="pulsrate" name="Visits.NurseReadingsInfo.PulseRate" value="@Model.Visits.NurseReadingsInfo.PulseRate" class="create-logtxts" title="Enter the Reason " />
                            </li>
                        </ul>
                    }
                </li>
            </ul>
            <ul class="nav_UV">
                <li><a href="#mr">Consulted Doctor: </a>
                    <ul id="mr">
                        <li class="labelChart">Doctor name:</li>
                        <li class="labelChartB">
                            <input type="text" id="doctorname" name="Visits.DoctorName" value="@Model.Visits.DoctorName" class="create-logtxts" title="Enter the Reason " />
                        </li>
                        <li class="labelChart">Contact number:</li>
                        <li class="labelChartB">
                            <input type="text" id="contactnumber" name="Visits.DoctorPhoneNo" value="@Model.Visits.DoctorPhoneNo" class="create-logtxts" title="Enter the Reason " />
                        </li>
                        <li class="labelChart">Email id:</li>
                        <li class="labelChartB">
                            <input type="text" id="email" name="Visits.DoctorEmail" value="@Model.Visits.DoctorEmail" class="create-logtxts" title="Enter the Reason " />
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="labelChart">Do you want to be notified? </li>
        <li>
            @if (Model.Visits.IsNotify == false)
            {
                <div style="float: left; width: 28%;">
                    <input type="radio" name="Visits.IsNotify" value="true" />&nbsp;Yes
                </div>
                <div style="float: left; width: 40%;">
                    <input type="radio" name="Visits.IsNotify" value="false" checked="checked" />&nbsp;No
                </div>
            }
            else if (Model.Visits.IsNotify == true)
            {
                <div style="float: right; width: 28%;">
                    <input type="radio" name="Visits.IsNotify" value="true" checked="checked" />&nbsp;Yes
                </div>
                <div style="float: left; width: 40%;">
                    <input type="radio" name="Visits.IsNotify" value="false" />&nbsp;No
                </div>
            }
        </li>
        <li class="labelChart">Next visit date:</li>
        <li class="labelChartB">
            @Html.TextBoxFor(model => model.Visits.NextVisitDate, new { title = "NextVisit Date", @class = "create-logtxts", placeholder = "MM/DD/YYYY", @pattern = @"(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.]\d\d\d\d", id = "nextdatevisit2", tabindex = "6" })
            @Html.ValidationMessageFor(model => model.Visits.NextVisitDate)
        </li>
        <li style="float: right">
            <input type="hidden" name="Visits.CaseId" value="@Model.Visits.CaseId" id="cid2" />
            <input type="hidden" name="Visits.visitId" value="@Model.Visits.visitId" id="pid2" />
            <div style="width: 81%" class="inline">
                <input type="button" name="btnProcClose" value="Close" style="float: right;" class="graygrad"
                    tabindex="7" onclick="$.modal.close()" />
                <input type="button" name="btnVisitUpdate" value="Update" style="float: right; margin-right: 10px;"
                    tabindex="8" class="greengrad" />@*changed submit to button*@
            </div>
        </li>
    </ul>
    </form>
</div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47299480-1', 'bumpdocs.com');
    ga('send', 'pageview');

</script>
