@model InnDocs.iHealth.Web.UI.Areas.iHealthUser.Models.Vitals.Vitals
@{
    ViewBag.Title = "";
}
<script type="text/javascript">
    $(function () {
        $("#btnUpdate").click(function () {

            $.ajax({
                url: '/iHealthUser/Medwall/STDsEdit',
                type: 'GET',
                success: function (result) {
                    $('#ajaxtab').html(result).modal({
                        escClose: true,
                        closeHTML: "",
                        onShow: function (e) {
                            e.container.css({ 'height': 'auto', 'width': 'auto' });
                            $("input[name = 'btnCancel']").click(function () {
                                $.modal.close();
                            });
                        }
                    });
                }
            });
        });

        $("#btnStdsTrend").click(function () {
            $.ajax({
                url: '/iHealthUser/Medwall/STDsTrend',
                type: 'GET',
                success: function (result) {

                    $('#ajaxtab').html(result).modal({
                        escClose: true,
                        onShow: function (e) {
                            e.container.css({ 'height': 'auto', 'width': 'auto' });
                        }
                    });
                }
            });
        });
    });


</script>

<div>
<div style="border-bottom: 1px solid rgb(218,221,226); width: 100%; margin:10px">
    @if (Model.STDs.CreatedOn != null)
    {
        <label>
            Recent updation on:</label> 
        <label style="color: Red">
            (@Html.DisplayTextFor(model => model.STDs.CreatedOn) )</label>
    }
    </div>

    <div class="vitals">
        <ul>
            @if (Model.STDs != null)
            {  
                <li style="">
                    <div>
                        <div style="width: 25%; display: inline-block;background-color:#f7f7f7">
                            Syphilis : </div>
                        <div style="width: 40%; display: inline-block">
                            @{ var Syphilis = Model.STDs.Syphilis ? "Yes" : "No";}
                            <label title="Syphilis">@Syphilis</label>
                        </div>
                    </div>
                </li>
                <li style="">
                    <div>
                        <div style="width: 25%; display: inline-block;background-color:#f7f7f7">
                            Herpes : </div>
                        <div style="width: 40%; display: inline-block">
                            @{ var Herpes = Model.STDs.Herpes ? "Yes" : "No";}
                            <label title="Herpes">@Herpes</label>
                        </div>
                    </div>
                </li>
                <li style="">
                    <div>
                        <div style="width: 25%; display: inline-block;background-color:#f7f7f7">
                            Hepatitis B & C :
                        </div>
                        <div style="width: 40%; display: inline-block">
                            @{ var HepatitisBnC = Model.STDs.HepatitisBnC ? "Yes" : "No";}
                            <label title="HepatitisBnC">@HepatitisBnC</label>
                        </div>
                    </div>
                </li>
                <li style="">
                    <div>
                        <div style="width: 25%; display: inline-block;background-color:#f7f7f7">
                            Gonorrhea :</div>
                        <div style="width: 40%; display: inline-block">
                            @{ var Gonorrhea = Model.STDs.Gonorrhea ? "Yes" : "No";}
                            
                            <label title="Gonorrhea">@Gonorrhea</label>

                        </div>
                    </div>
                </li>
                <li style="border-bottom:1px solid #f0f0f0">
                    <div>
                        <div style="width: 25%; display: inline-block;background-color:#f7f7f7">
                            Chlamydia :</div>
                        <div style="width: 40%; display: inline-block">
                            @{ var Chlamydia = Model.STDs.Chlamydia ? "Yes" : "No";}
                            <label title="Chlamydia">@Chlamydia</label>
                        </div>
                    </div>
                </li>
         
            }
            else
            {
                <li>No data is available.</li>
            
                <li style="width: 100%" class="inline">
                    <div style="width: 100%; float: right; margin: 0 7px 0 0;" class="inline">
                    </div>
                </li>
            }
            <li style="width: 100%" class="inline">
                <a href="@Url.Action("VitalsNew", "Medwall")" style="color:#0088cc" >Back</a>
                <input id="btnUpdate" type="button" class="greengrad" value="Update" />
            </li>
            @*<li>
                <input type="button" id="btnStdsTrend" value="Trend" class="graygrad" />
            </li>*@
           
        </ul>
    </div>
</div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47299480-1', 'bumpdocs.com');
    ga('send', 'pageview');

</script>
