@model  InnDocs.iHealth.Web.UI.Areas.iHealthUser.Models.UserRepository.AnomalyScan
@{
    ViewBag.Title = "AnomalyScan";
}
<link href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function () {
        $('#ReffDoctor,#Radiologist').keydown(function (e) {
            if (e.ctrlKey || e.altKey || e.entrKey) {
                e.preventDefault();
            } else {
                var key = e.keyCode;
                if (!((key == 8) || (key == 32) || (key == 13) || (key == 9) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                    e.preventDefault();
                }
            }
        });

        $('#Age,#Height,#Weight,#BmI,#NumberofFetuses,#AC,#CRL,#NT,#BPD,#HC,#FL,#Efw,#PiLeft,#Piright,#Cervixlength').keydown(function (event) {
            var $th = $(this);

            if (event.keyCode == 110 || event.keyCode == 173||event.keyCode == 190 || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
            // Allow: Ctrl+A
                       (event.keyCode == 65 && event.ctrlKey === true) ||
            // Allow: home, end, left, right
                      (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) || ($(this).val().length >= 5)) {
                    event.preventDefault();
                }
            }


        });

        $('#ScanDate,#LastPeriod,#Ebydate,#Ebyultra').keydown(function (event) {
            event.preventDefault();
        });

        $('#ScanDate').datepicker({
            dateFormat: 'dd MM yy',
            changeYear: true,
            changeMonth: true,
            maxDate: new Date()
        });

        $('#LastPeriod').datepicker({
            dateFormat: 'dd MM yy',
            changeYear: true,
            changeMonth: true,
            maxDate: new Date()
        });

        $('#Ebydate').datepicker({
            dateFormat: 'dd MM yy',
            changeYear: true,
            changeMonth: true

        });

        $('#Ebyultra').datepicker({
            dateFormat: 'dd MM yy',
            changeYear: true,
            changeMonth: true

        });
       
        $(".PinfoViewInfo").accordion({ heightStyle: "content"
        })

        //        $("#patient").click(function () {
        //            $("#l").slideToggle("slow");
        //        });

        $('#btnAnomalySubmit').click(function () {

            var patientid, scanon, reffdoc, radiolgist, age, height, weight, bloodg, lastperiod, nf;

            patientid = $('#PatientID').val();
            scanon = $('#ScanDate').val();
            reffdoc = $('#ReffDoctor').val();
            age = $('#Age').val();
            height = $('#Height').val();
            weight = $('#Weight').val();
            bloodg = $('#BloodGroup').val();
            lastperiod = $('#LastPeriod').val();
            nf = $('#NumberofFetuses').val();
            radiolgist = $('#Radiologist').val();
            //var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;
            var rxDatePattern = /^(([0-9])|([0-2][0-9])|([3][0-1])){2}\ (January|February|March|April|May|June|July|August|September|October|November|Deccember)\ \d{4}$/;
            var chkDateFormat = scanon.match(rxDatePattern);
            if (patientid == "") {
                alert('Please enter patient ID');
                $(".PinfoViewInfo").accordion({ active: 0 });
                $('input[tabindex=1]').focus();
                return false;
            } else if (scanon == "") {
                alert('Please enter scan date');
                $(".PinfoViewInfo").accordion({ active: 0 });
                $('input[tabindex=2]').focus();
                return false;
            }
            else if (chkDateFormat == null) {
                alert('Please enter correct date format');
                $(".PinfoViewInfo").accordion({ active: 0 });
                $('input[tabindex=2]').focus();
                return false;
            } else if (reffdoc == "") {
                alert('Please enter reference doctor');
                $(".PinfoViewInfo").accordion({ active: 0 });
                $('input[tabindex=3]').focus();
                return false;
            } else if (radiolgist == "") {
                alert("Please enter Radiologist's name");
                $(".PinfoViewInfo").accordion({ active: 5});
                $('input[tabindex=43]').focus();
                return false;
            }
            $.ajax({
                url: '/iHealthUser/MedWall/SaveAnomalyScan',
                type: "POST",
                aync: false,
                cache: false,
                data: new FormData($(this).parents('#frmAnomalyscan').get(0)),
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data != "0") {
                        alert("Anomaly scan information saved successfully");
                        $('div#AnlyScans').empty().load('/iHealthUser/Medwall/AnomalyScans');
                        $.modal.close();
                    } 
                    else {
                        alert("Creation Failed !!");
                    }
                }
            });
            return false;
        });

    });
</script>
<h2>
    Anomaly scan</h2>
<div style="width: 550px">
    <form id="frmAnomalyscan" action="/" method="post" enctype="multipart/form-data">
    <div class="PinfoViewInfo">
        <h3 id="patient">
            Patient Information</h3>
        <div id="l" style="height: auto">
            <p>
                <div>
                    <ul style="margin-top: 0px">
                        <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 45% !important; float: left;
                            background-color: #f7f7f7;">Patient ID <span style="font-weight: 600; padding: 15px 0px 0px 2px;
                                color: rgb(251, 2, 2); font-size: medium;">*</span></li>
                        <li class="Faminfo_gap_value" style="width: 50%  !important;">
                            @Html.TextBoxFor(model => model.PatientId, new { title = "PatientID", @id = "PatientID", @class = "logintxts", tabindex = "1" })
                        </li>
                        @*<li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 45%  !important; float: left;background-color:#f7f7f7;">
                            Patient name</li>
                        <li class="Faminfo_gap_value" style="width: 50%  !important;">
                            @Html.TextBoxFor(model => model.PatientName, new { title = "PatientName", @id = "PatientName", @class = "logintxts" })
                        </li>*@
                        <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 45%  !important; float: left;
                            background-color: #f7f7f7;">Scanned on <span style="font-weight: 600; padding: 15px 0px 0px 2px;
                                color: rgb(251, 2, 2); font-size: medium;">*</span></li>
                        <li class="Faminfo_gap_value" style="width: 50%  !important;">
                            @Html.TextBoxFor(model => model.ScanDate, new { title = "ScanOn", @id = "ScanDate", @class = "logintxts", tabindex = "2", placeholder = "DD MMM YYYY", style = "font-size:smaller;" })
                        </li>
                        <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 45%  !important; float: left;
                            background-color: #f7f7f7;">Referring doctor <span style="font-weight: 600; padding: 15px 0px 0px 2px;
                                color: rgb(251, 2, 2); font-size: medium;">*</span></li>
                        <li class="Faminfo_gap_value" style="width: 50%  !important;">
                            @Html.TextBoxFor(model => model.ReffDoctor, new { title = "Reffering Doctor", @id = "ReffDoctor", @class = "logintxts", tabindex = "3" })
                        </li>
                    </ul>
                </div>
            </p>
        </div>
        <h3>
            Maternal History</h3>
        <div>
            <ul style="margin-top: 0px">
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 30%  !important; float: left;
                    background-color: #f7f7f7;">Maternal history </li>
                <li class="Faminfo_gap_value" style="height: auto !important; width: 65% !important;">
                    <div>
                        <div style="float: left; width: 145px; text-align: right">
                            <span style="float: left">Age</span>
                            @Html.TextBoxFor(model => model.MaternalHistory1.Age, new { title = "Age", @id = "Age", tabindex = "4", @class = "logintxts", style = "width:70px;margin-left:5px;"})
                        </div>
                        <div style="float: left; width: 165px; text-align: right; margin-left:5px">
                            <span style="float: left">Height</span>
                            @Html.TextBoxFor(model => model.MaternalHistory1.Height, new { title = "Height", @id = "Height", @class = "logintxts", tabindex = "5", style = "width:70px;margin-left:5px;", placeholder = "Cms" })
                        </div>
                        <div style="float: left; width: 145px; text-align: right">
                            <span style="float: left">Weight</span>
                            @Html.TextBoxFor(model => model.MaternalHistory1.Weight, new { title = "Weight", @id = "Weight", @class = "logintxts", tabindex = "6", style = "width:70px;margin-left:5px;", placeholder = "Kgs" })
                        </div>
                        <div style="float: left; width: 165px; text-align: right; margin-left:5px">
                            <span style="float: left">Last period (LMP)</span>
                            @Html.TextBoxFor(model => model.MaternalHistory1.LastPeriod, new { title = "LastPeriod", @id = "LastPeriod", @class = "logintxts",tabindex = "7", style = "width:50px;margin-left:0px;" })
                        </div>
                        <div style="float: left; width: 145px; text-align: right">
                            <span style="float: left">BMI</span>
                            @Html.TextBoxFor(model => model.MaternalHistory1.BmI, new { title = "BmI", @id = "BmI", @class = "logintxts",tabindex = "8", style = "width:70px;margin-left:5px;" })
                        </div>
                        <div style="float: left; width: 165px; text-align: right; margin-left:5px">
                            <span style="float: left">Blood group</span>
                            @Html.TextBoxFor(model => model.MaternalHistory1.BloodGroup, new { title = "BloodGroup", @id = "BloodGroup", @class = "logintxts", tabindex = "9",style = "width:70px;margin-left:5px;" })
                        </div>
                    </div>
                </li>
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 30%  !important; float: left;
                    background-color: #f7f7f7;">Gestation</li>
                <li class="Faminfo_gap_value" style="width: 65% !important;">
                    <div>
                        <div style="float: left; width: 145px; text-align: right">
                            <span style="float: left">By date</span>
                            @Html.TextBoxFor(model => model.Gestinat.ByDates, new { title = "Gestation", @id = "bydate", @class = "logintxts", tabindex = "10", style = "width:70px;font-size:xx-small;" })
                        </div>
                        <div style="float: left; width: 165px; text-align: right; margin-left:5px">
                            <span style="float: left">By ultrasound</span>
                            @Html.TextBoxFor(model => model.Gestinat.ByUltra, new { title = "Gestation", @id = "byultra", @class = "logintxts", tabindex = "11", style = "width:70px;font-size:xx-small;" })
                        </div>
                    </div>
                </li>
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 30%  !important; float: left;
                    background-color: #f7f7f7; margin-top:2px">EDD</li>
                <li class="Faminfo_gap_value" style="width: 65%  !important;">
                    <div>
                        <div style="float: left; width: 145px; text-align: right">
                            <span style="float: left">By date</span>
                            @Html.TextBoxFor(model => model.EDDvalue.ByDates, new { title = "EDD", @id = "Ebydate", @class = "logintxts", tabindex = "12", style = "width:70px;font-size:xx-small;", placeholder = "DD MMM YYYY" })
                        </div>
                        <div style="float: left; width: 165px; text-align: right; margin-left:5px">
                            <span style="float: left">By ultrasound</span>
                            @Html.TextBoxFor(model => model.EDDvalue.ByUltra, new { title = "EDD", @id = "Ebyultra", @class = "logintxts", tabindex = "13", style = "width:70px;font-size:xx-small;", placeholder = "DD MMM YYYY" })
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <h3>
            Findings</h3>
        <div>
            <ul style="margin-top: 0px">
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 35%  !important; float: left;
                    background-color: #f7f7f7;">Findings </li>
                <li class="Faminfo_gap_value" style="height: auto !important; width: 60% !important;">
                    <div>
                        <div style="text-align: right">
                            <span style="float: left">Number of fetuses</span>
                            @Html.TextBoxFor(model => model.NTScanFinds.NumberofFetuses, new { title = "NumberofFetuses", @id = "NumberofFetuses", @class = "logintxts",tabindex = "14", style = "width:50px;margin-left:15px;" })
                        </div>
                        <div style="text-align: right">
                            <span style="float: left">Crown-rump length (CRL)</span>
                            @Html.TextBoxFor(model => model.NTScanFinds.CRL, new { title = "CRL", placeholder = "mm", @id = "CRL", @class = "logintxts", tabindex = "15", style = "width:50px;margin-left:15px;font-size:smaller; color:gray" })
                        </div>
                        <div style="text-align: right">
                            <span style="float: left">Biparietal diameter (BPD)</span>
                            @Html.TextBoxFor(model => model.NTScanFinds.BPD, new { title = "BPD", placeholder = "mm", @id = "BPD", @class = "logintxts", tabindex = "16", style = "width:50px;margin-left:15px;font-size:smaller; color:gray" })
                        </div>
                        <div style="text-align: right">
                            <span style="float: left">Abdominal Circumference (AC)</span>
                            @Html.TextBoxFor(model => model.NTScanFinds.Ac, new { title = "AC", placeholder = "mm", @id = "AC", @class = "logintxts", tabindex = "17", style = "width:50px;margin-left:15px;font-size:smaller; color:gray" })
                        </div>
                        <div style="text-align: right">
                            <span style="float: left">Femur length (FL)</span>
                            @Html.TextBoxFor(model => model.NTScanFinds.Fl, new { title = "FL", placeholder = "mm", @id = "FL", @class = "logintxts", tabindex = "18", style = "width:50px;margin-left:15px;font-size:smaller; color:gray" })
                        </div>
                        <div style="text-align: right">
                            <span style="float: left">Head circumference (HC)</span>
                            @Html.TextBoxFor(model => model.NTScanFinds.HC, new { title = "HC", placeholder = "mm", @id = "HC", @class = "logintxts", tabindex = "19", style = "width:50px;margin-left:15px;font-size:smaller; color:gray" })
                        </div>
                        <div style="text-align: right">
                            <span style="float: left">Placenta Grade</span>
                            @Html.TextBoxFor(model => model.NTScanFinds.PlacentaGrade, new { title = "PlacentaGrade", @id = "PlacentaGrade", @class = "logintxts", tabindex = "20", style = "width:50px;margin-left:15px;font-size:smaller; color:gray" })
                        </div>
                        <div style="float: left; width: 140px; text-align: right">
                            <span style="float: left">Placenta</span>
                            @Html.TextBoxFor(model => model.NTScanFinds.Placenta, new { title = "Placenta", @id = "Placenta", @class = "logintxts", tabindex = "21",style = "width:50px;margin-left:10px;" })
                        </div>
                        <div style="float: left; width: 150px; text-align: right; margin-left:5px">
                            <span style="float: left">Amniotic fluid</span>
                            @Html.TextBoxFor(model => model.NTScanFinds.Amnioticfluid, new { title = "Amnioticfluid", @id = "Amnioticfluid", @class = "logintxts", tabindex = "22", style = "width:50px;margin-left:12px;" })
                        </div>
                        <div style="float: left; width: 140px; text-align: right">
                            <span style="float: left">Movenents</span>
                            @Html.TextBoxFor(model => model.NTScanFinds.Movenents, new { title = "Movenents", @id = "Movenents", @class = "logintxts", tabindex = "23",style = "width:50px;margin-left:10px;" })
                        </div>
                        <div style="float: left; width: 151px; text-align: right; margin-left:5px">
                            <span style="float: left">Efw</span>
                            @Html.TextBoxFor(model => model.NTScanFinds.Efw, new { title = "Efw", @id = "Efw", @class = "logintxts",tabindex = "24", style = "width:50px;margin-left:15px;",placeholder = "Grams" })
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <h3>
            Fetal Anatomy</h3>
        <div>
            <ul style="margin-top: 0px">
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 35%  !important; float: left;
                    background-color: #f7f7f7;">Fetal Anatomy </li>
                <li class="Faminfo_gap_value" style="height: auto !important; width: 60% !important;">
                    <div>
                        <div style="float: left; width: 140px; text-align: right">
                            <span style="float: left">AVH</span>
                            @Html.TextBoxFor(model => model.FetalAnatomy1.AVH, new { title = "AVH", @id = "AVH", @class = "logintxts",tabindex = "25", style = "width:50px;margin-left:10px;" })
                        </div>
                        <div style="float: left; width: 140px; text-align: right; margin-left:5px">
                            <span style="float: left">PVH</span>
                            @Html.TextBoxFor(model => model.FetalAnatomy1.PVH, new { title = "AVH", @id = "AVH", @class = "logintxts",tabindex = "26", style = "width:50px;margin-left:10px;" })
                        </div>
                        <div style="float: left; width: 140px; text-align: right">
                            <span style="float: left">Skull</span>
                            @Html.TextBoxFor(model => model.FetalAnatomy1.Skull, new { title = "Skull", @id = "Skull", @class = "logintxts",tabindex = "27", style = "width:50px;margin-left:10px;" })
                        </div>
                        <div style="float: left; width: 140px; text-align: right; margin-left:5px">
                            <span style="float: left">Spine</span>
                            @Html.TextBoxFor(model => model.FetalAnatomy1.Spine, new { title = "Spine,", @id = "Spine,", @class = "logintxts",tabindex = "28", style = "width:50px;margin-left:10px;" })
                        </div>
                        <div style="float: left; width: 140px; text-align: right">
                            <span style="float: left">Heart</span>
                            @Html.TextBoxFor(model => model.FetalAnatomy1.Heart, new { title = "Heart", @id = "Heart", @class = "logintxts",tabindex = "29", style = "width:50px;margin-left:10px;" })
                        </div>
                        <div style="float: left; width: 140px; text-align: right; margin-left:5px">
                            <span style="float: left">Thorax</span>
                            @Html.TextBoxFor(model => model.FetalAnatomy1.Thorax, new { title = "Thorax", @id = "Thorax", @class = "logintxts", tabindex = "30", style = "width:50px;margin-left:10px;" })
                        </div>
                        <div style="float: left; width: 140px; text-align: right">
                            <span style="float: left">Glt</span>
                            @Html.TextBoxFor(model => model.FetalAnatomy1.Glt, new { title = "Glt", @id = "Glt", @class = "logintxts", tabindex = "31",style = "width:50px;margin-left:10px;" })
                        </div>
                        <div style="float: left; width: 140px; text-align: right; margin-left:5px">
                            <span style="float: left">Urin Tract</span>
                            @Html.TextBoxFor(model => model.FetalAnatomy1.UrinTract, new { title = "UrinTract", @id = "UrinTract", @class = "logintxts",tabindex = "32", style = "width:50px;margin-left:10px;" })
                        </div>
                        <div style="float: left; width: 141px; text-align: right">
                            <span style="float: left">Extremities</span>
                            @Html.TextBoxFor(model => model.FetalAnatomy1.Extremities, new { title = "Extremities", @id = "Extremities", @class = "logintxts",tabindex = "33", style = "width:50px;margin-left:10px;" })
                        </div>
                        <div style="float: left; width: 140px; text-align: right; margin-left:5px">
                            <span style="float: left">Genitalia</span>
                            @Html.TextBoxFor(model => model.FetalAnatomy1.Genetilia, new { title = "Genetilia", @id = "Genetilia", @class = "logintxts",tabindex = "34", style = "width:50px;margin-left:10px;" })
                        </div>
                        <div style="float: left; width: 285px; text-align: right">
                            <span>Abdomen wall</span>
                            @Html.TextBoxFor(model => model.FetalAnatomy1.Abdomen, new { title = "Abdomen", @id = "Abdomen", @class = "logintxts",tabindex = "35", style = "width:50px;margin-left:10px;" })
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <h3>
            Uterine Doppler</h3>
        <div>
            <ul style="margin-top: 0px">
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 45% !important; float: left;
                    background-color: #f7f7f7;">Uterine Doppler </li>
                <li class="Faminfo_gap_value" style="height: auto !important; width: 45% !important;">
                    <div>
                        <div style="text-align: right">
                            <span style="float: left">PI left</span>
                            @Html.TextBoxFor(model => model.UterineDoppler1.PiLeft, new { title = "PiLeft,", @id = "PiLeft,", @class = "logintxts",tabindex = "36", style = "width:70px;margin-left:20px;" })
                        </div>
                        <div style="text-align: right">
                            <span style="float: left">PI right</span>
                            @Html.TextBoxFor(model => model.UterineDoppler1.Piright, new { title = "Piright", @id = "Piright", @class = "logintxts",tabindex = "37", style = "width:70px;margin-left:20px;" })
                        </div>
                    </div>
                </li>
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 45%  !important; float: left;
                    background-color: #f7f7f7;">Cervical Assessment</li>
                <li class="Faminfo_gap_value" style="height: auto !important; width: 45% !important;">
                    <div style="text-align: right">
                        <span style="float: left">Cervix length</span>
                        @Html.TextBoxFor(model => model.Cervicalassesment.Cervixlength, new { title = "Cervixlength", placeholder = "mm", @id = "Cervixlength", @class = "logintxts", tabindex = "38", style = "width:70px;margin-left:20px;font-size:smaller; color:gray" })
                    </div>
                    <div style="text-align: right">
                        <span style="float: left">Funnelling</span>
                        @Html.TextBoxFor(model => model.Cervicalassesment.Funnelling, new { title = "Funnelling", @id = "Funnelling", @class = "logintxts",tabindex = "39", style = "width:70px;margin-left:20px;" })
                    </div>
                    <div style="text-align: right">
                        <span style="float: left">Cervical comment</span>
                        @Html.TextBoxFor(model => model.Cervicalassesment.CervicalComment, new { title = "CervicalComment", @id = "CervicalComment", @class = "logintxts", tabindex = "40",style = "width:70px;margin-left:20px;" })
                    </div>
                </li>
            </ul>
        </div>
        <h3>
            Doctor Recommendations</h3>
        <div>
            <ul id="doctors">
                @* @Html.TextBoxFor(model => model.EarlyFindings, new { title = "EarlyFindings", @id = "EarlyFindings", @class = "logintxts" })*@
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 35%  !important; float: left;
                    background-color: #f7f7f7;">Impression</li>
                <li class="Faminfo_gap_value" style="width: 60%  !important;">
                    @Html.TextBoxFor(model => model.Impression, new { title = "impression", @id = "impression", @class = "logintxts", tabindex = "41" })
                </li>
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 35%  !important; float: left;
                    background-color: #f7f7f7;">Recommendations</li>
                <li class="Faminfo_gap_value" style="width: 60%  !important;">
                    @Html.TextBoxFor(model => model.Recomandations, new { title = "Recommendations", @id = "Recommendations", @class = "logintxts", tabindex = "42" })
                </li>
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 35%  !important; float: left;
                    background-color: #f7f7f7;">Radiologist <span style="font-weight: 600; padding: 15px 0px 0px 2px;
                        color: rgb(251, 2, 2); font-size: medium;">*</span></li>
                <li class="Faminfo_gap_value" style="width: 60%  !important;">
                    @Html.TextBoxFor(model => model.Radiologist, new { title = "Radiologist", @id = "Radiologist", @class = "logintxts", tabindex = "43" })
                </li>
            </ul>
        </div>
    </div>
    <ul>
        <li style="width: 100%" class="inline">
            <input type="button" name="btnCancel" class="graygrad" value="Close" onclick="$.modal.close();" />
            <input id="btnAnomalySubmit" type="button" class="greengrad" value="Submit" />
        </li>
    </ul>
    </form>
</div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47299480-1', 'bumpdocs.com');
    ga('send', 'pageview');

</script>
