<div id="table">
    <div>
        <table id="thead">
            <thead>
                <tr>
                    <th style="width: 5%; text-align: center; padding-left: 0px">
                        
                    </th>
                    <th style="width: 23%;">Case name
                    </th>
                    <th style="width: 35%;">Case description
                    </th>
                    <th style="width: 22%; padding-left: 18px">Date created
                    </th>
                    <th style="width: 5%"></th>
                </tr>
            </thead>
        </table>
    </div>
    @if (Page.Values.Count > 0)
    {
        <table id="tbody">
            <tbody>
                @foreach (var value in Page.Values)
                {
        
                    <tr>
                        <td style="width: 5%; text-align: center; padding-left: 0px">
                            <input type="checkbox" />
                        </td>
                        <td style="width: 23%;">
                            @value.CaseName
                        </td>
                        <td style="width: 35%; white-space: nowrap; overflow: hidden">
                            @value.CaseDescription
                        </td>
                        <td style="width: 23%;">
                            @value.CreatedOn
                        </td>
                        <td class="delete" style="width: 4%; padding-left: 0px; text-align: center">
                            <input type="hidden" value="@value.CaseId" />
                            <img src="~/Images/delete.png" alt="Delete Case" title="Delete this case"  />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5"  >
                            <input type="hidden" name="caseId" value="@value.CaseId" />
                            <div style="padding: 8px">
                                <div>
                                    <div style="width: 45%; float: right">
                                        <input id="btnCaseDownload" class="caseDownload" type="button" value="" title="Download this Case" />
                                        <a href="@Url.Action("EditCase", "Cases", new { CaseId = @value.CaseId })" class="edit" title="Edit this case"></a>
                                        <a href="@Url.Action("CaseView", "Cases", new { CaseId = @value.CaseId })" class="view" style="float:right;" title="View this case"></a>
                                        <input type="hidden" value="@value.CaseId" />
                                    </div>
                                    <h6>Case Info</h6>
                                </div>
                                <ul class="Grid_content_pane">
                                    <li>
                                        <div>
                                            <div class="tldiv">
                                                Case name:
                                            </div>
                                            <div class="trdiv">
                                                @value.CaseName
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tldiv">
                                            Case description:
                                        </div>
                                        <div class="trdiv">
                                            @value.CaseDescription
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
        
                }
            </tbody>
        </table>
        <div class="pager">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @if (ViewBag.FromSearch != null)
            {
                if (Model.HasPreviousPage)
                {
                @Html.ActionLink("<<", "GetSearchedCases", new { page = 1, searchtext1 = ViewBag.FromSearch }, new { @class = "first" })
                @Html.Raw(" ");
                @Html.ActionLink("< Prev", "GetSearchedCases", new { page = Model.PageNumber - 1, searchtext1 = ViewBag.FromSearch }, new { @class = "prev" })
                }
                else
                {
                
                @Html.Raw(" ");
                
}
            }
            else
            {
                if (Model.HasPreviousPage)
                {
                @Html.ActionLink("<<", "Cases", new { page = 1 }, new { @class = "first" })
                @Html.Raw(" ");
                @Html.ActionLink("< Prev", "Cases", new { page = Model.PageNumber - 1 }, new { @class = "prev" })
                }
                else
                {
                
                @Html.Raw(" ");
                
            }
            }
            @if (ViewBag.FromSearch != null)
            {
                if (Model.HasNextPage)
                {
                @Html.ActionLink("Next >", "GetSearchedCases", new { page = Model.PageNumber + 1, searchtext1 = ViewBag.FromSearch }, new { @class = "next"})
                @Html.Raw(" ");
                @Html.ActionLink(">>", "GetSearchedCases", new { page = Model.PageCount, searchtext1 = ViewBag.FromSearch }, new { @class = "last"  })
                }
                else
                {
                
                @Html.Raw(" ")
                
}
            }
            else
            {
                if (Model.HasNextPage)
                {
                @Html.ActionLink("Next >", "Cases", new { page = Model.PageNumber + 1 }, new { @class = "next"})
                @Html.Raw(" ");
                @Html.ActionLink(">>", "Cases", new { page = Model.PageCount }, new { @class = "last"  })
                }
                else
                {
                
                @Html.Raw(" ")
                
            }
            }
        </div>
    }
    else
    {
        <text>No Records to display </text>
    }
</div>
