@model  InnDocs.iHealth.Web.UI.Areas.iHealthUser.Models.UserRepository.BloodPicture
@{
    ViewBag.Title = "CBPView";
}
<link href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $('#ReffDoctor,#Radiologist').keydown(function (e) {
            if (e.ctrlKey || e.altKey || e.entrKey) {
                e.preventDefault();
            } else {
                var key = e.keyCode;
                if (!((key == 8) || (key == 32) || (key == 13) || (key == 9) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                    e.preventDefault();
                }
            }
        });
        $('#TestOnDate').datepicker({
            dateFormat: 'dd M yy',
            changeYear: true,
            changeMonth: true,
            maxDate: new Date()
        });
        $('#Hemoglobin,#RedBloodCells,#PCV,#MCV,#MCH,#MCHC,#PlateletCount,#WbcCount,#Bands,#Neutrophils,#Lymphocytes,#Monocytes,#Eosinophils,#RDW').keydown(function (event) {
            var $th = $(this);

            if (event.keyCode == 190 || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
            // Allow: Ctrl+A
            (event.keyCode == 65 && event.ctrlKey === true) ||
            // Allow: home, end, left, right
            (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) || ($(this).val().length >= 5)) {
                    event.preventDefault();
                }
            }


        });
        $(".PinfoViewInfo").accordion({ heightStyle: "content"
        })
        $('#btnbloodEdit').click(function () {

            var patientname, scanon, reffdoc, radiolgist, hemoglobin;

            patientname = $('#PatientName').val();
            scanon = $('#TestOnDate').val();
            reffdoc = $('#ReffDoctor').val();
            hemoglobin = $('#Hemoglobin').val();


            radiolgist = $('#Patholgist').val();

            if (patientname == "") {
                $(".PinfoViewInfo").accordion({ active: 0 });
                $('input[tabindex=1]').focus();
                alert('Please enter patient ID');
                return false;
            } else if (scanon == "") {
                $(".PinfoViewInfo").accordion({ active: 0 });
                $('input[tabindex=2]').focus();
                alert('Please enter test date');
                return false;
            } else if (reffdoc == "") {
                $(".PinfoViewInfo").accordion({ active: 0 });
                $('input[tabindex=3]').focus();
                alert('Please enter reference doctor');
                return false;
            } else if (hemoglobin == "") {
                $(".PinfoViewInfo").accordion({ active: 1 });
                $('input[tabindex=6]').focus();
                alert('Please enter hemoglobin');
                return false;
            } else if (radiolgist == "") {
                $(".PinfoViewInfo").accordion({ active: 1 });
                $('input[tabindex=20]').focus();
                alert('Please enter pathologist');
                return false;
            }
            $.ajax({
                url: '/DoulaBumpUser/DoulaMedWall/EditBloodTest',
                type: "POST",
                aync: false,
                cache: false,
                data: new FormData($(this).parents('#frmearlyscan').get(0)),
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data != "0") {
                        alert("Blood test information updated successfully");
                        $('div#BloodTests').empty().load('/DoulaBumpUser/DoulaMedWall/GetBloodTests');
                        $('div#tabs-1').empty().load('/DoulaBumpUser/DoulaTrends/Trends');


                        $.modal.close();

                    }
                    else {
                        alert("Creation Failed !!");
                    }
                }
            });
            return false;
        });
    });
</script>
<h2>
    Complete Blood picture</h2>
<div style="width: 550px">
    <form id="frmearlyscan" action="/" method="post" enctype="multipart/form-data">
    <div class="PinfoViewInfo">
        <h3 id="patient">
            Patient Information</h3>
        <div id="l" style="height: auto">
            <p>
                <div>
                  @Html.HiddenFor(model => model.BloodPictureId, new { title = "BloodPictureId", @id = "BloodPictureId", @class = "BloodPictureId", @style="font-size:smaller; color:gray" })
                    <ul style="margin-top: 0px">
                        <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 45% !important; float: left;
                            background-color: #f7f7f7;">Patient ID <span style="font-weight: 600; padding: 15px 0px 0px 2px;
                                color: rgb(251, 2, 2); font-size: medium;">*</span> </li>
                        <li class="Faminfo_gap_value" style="width: 50%  !important;">
                            @Html.TextBoxFor(model => model.PatientName, new { title = "Patient Name", @id = "PatientName", @class = "logintxts", @tabindex = "1" })
                        </li>
                        <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 45%  !important; float: left;
                            background-color: #f7f7f7;">Tested on <span style="font-weight: 600; padding: 15px 0px 0px 2px;
                                color: rgb(251, 2, 2); font-size: medium;">*</span> </li>
                        <li class="Faminfo_gap_value" style="width: 50%  !important;">
                            @Html.TextBoxFor(model => model.TestOnDate1, new { title = "TestOnDate", @id = "TestOnDate", @class = "logintxts", @tabindex = "2", style = "font-size:smaller; ", placeholder = "MM/DD/YYYY" })
                        </li>
                        <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 45%  !important; float: left;
                            background-color: #f7f7f7;">Referring doctor <span style="font-weight: 600; padding: 15px 0px 0px 2px;
                                color: rgb(251, 2, 2); font-size: medium;">*</span> </li>
                        <li class="Faminfo_gap_value" style="width: 50%  !important;">
                            @Html.TextBoxFor(model => model.ReffDoctor, new { title = "Reffering Doctor", @id = "ReffDoctor", @class = "logintxts", @tabindex = "3" })
                        </li>
                    </ul>
                </div>
            </p>
        </div>
        <h3>
            Complete Blood Picture (Specimen:Blood)</h3>
        <div>
            <ul style="margin-top: 0px">
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 28%  !important; float: left;
                    background-color: #f7f7f7;">Complete Blood Picture (Specimen:Blood)</li>
                <li class="Faminfo_gap_value" style="height: auto !important; width: 69% !important;">
                    <div>
                        <div style="float: left; width: 150px; text-align: right">
                            <span style="float: left">Blood Group</span>
                            @Html.TextBoxFor(model => model.cbp1.BloodGroup, new { title = "BloodGroup", @id = "BloodGroup", @class = "logintxts", style = "width:65px; font-size:smaller", @tabindex = "4" })
                        </div>
                        <div style="float: left; width: 185px; text-align: right; margin-left:5px">
                            <span style="float: left">Rh type</span>
                            @Html.TextBoxFor(model => model.cbp1.Rhtype, new { title = "Rhtype", @id = "Rhtype", @class = "logintxts", style = "width:95px; font-size:smaller", @tabindex = "5" })
                        </div>
                        <div style="float: left; width: 150px; text-align: right">
                            <span style="float: left">MCV</span>
                            @Html.TextBoxFor(model => model.cbp1.MCV, new { title = "MCV", @id = "MCV", placeholder = "80-99fl", @class = "logintxts", style = "width:65px; font-size:smaller", @tabindex = "9" })
                        </div>
                        <div style="float: left; width: 185px; text-align: right; margin-left:5px">
                            <span style="float: left">Hemoglobin<span style="font-weight: 600; padding: 15px 0px 0px 2px;
                                color: rgb(251, 2, 2); font-size: medium;">*</span></span>
                            @Html.TextBoxFor(model => model.cbp1.Hemoglobin, new { title = "Hemoglobin", @id = "Hemoglobin", placeholder = "12-16g/dl", @class = "logintxts", style = "width:95px; font-size:smaller", @tabindex = "6" })
                        </div>
                        <div style="float: left; width: 150px; text-align: right">
                            <span style="float: left">Neutrophils</span>
                            @Html.TextBoxFor(model => model.cbp1.Neutrophils, new { title = "Neutrophils", @id = "Neutrophils", placeholder = "50-70%", @class = "logintxts", style = "width:65px; font-size:smaller", @tabindex = "15" })
                        </div>
                        <div style="float: left; width: 185px; text-align: right; margin-left:5px">
                            <span style="float: left">PCV</span>
                            @Html.TextBoxFor(model => model.cbp1.PCV, new { title = "PCV", @id = "PCV", placeholder = "37-47vol%", @class = "logintxts", style = "width:95px; font-size:smaller", @tabindex = "8" })
                        </div>
                        <div style="float: left; width: 150px; text-align: right">
                            <span style="float: left">Eosinophils</span>
                            @Html.TextBoxFor(model => model.cbp1.Eosinophils, new { title = "Eosinophils", @id = "Eosinophils", placeholder = "2-6%", @class = "logintxts", style = "width:65px; font-size:smaller", @tabindex = "17" })
                        </div>
                        <div style="float: left; width: 185px; text-align: right; margin-left:5px">
                            <span style="float: left">MCH</span>
                            @Html.TextBoxFor(model => model.cbp1.MCH, new { title = "MCH", @id = "MCH", placeholder = "27-31volpg/cells", @class = "logintxts", style = "width:95px; font-size:smaller", @tabindex = "10" })
                        </div>
                        <div style="float: left; width: 150px; text-align: right">
                            <span style="float: left">Monocytes</span>
                            @Html.TextBoxFor(model => model.cbp1.Monocytes, new { title = "Monocytes", @id = "Monocytes", placeholder = "1-5vol%", @class = "logintxts", style = "width:65px; font-size:smaller", @tabindex = "18" })
                        </div>
                        <div style="float: left; width: 185px; text-align: right; margin-left:5px">
                            <span style="float: left">MCHC</span>
                            @Html.TextBoxFor(model => model.cbp1.MCHC, new { title = "MCHC", @id = "MCHC", placeholder = "33-37g/dl", @class = "logintxts", style = "width:95px; font-size:smaller", @tabindex = "11" })
                        </div>
                        <div style="float: left; width: 150px; text-align: right">
                            <span style="float: left">Bands</span>
                            @Html.TextBoxFor(model => model.cbp1.Bands, new { title = "Bands", @id = "Bands", placeholder = "%", @class = "logintxts", style = "width:65px; font-size:smaller", @tabindex = "14" })
                        </div>
                        <div style="float: left; width: 185px; text-align: right; margin-left:5px">
                            <span style="float: left">Platelet count</span>
                            @Html.TextBoxFor(model => model.cbp1.PlateletCount, new { title = "PlateletCount", @id = "PlateletCount", placeholder = "1.5-4.5lkh/mm3", @class = "logintxts", style = "width:95px; font-size:smaller", @tabindex = "12" })
                        </div>
                        <div style="float: left; width: 150px; text-align: right">
                            <span style="float: left">RDW</span>
                            @Html.TextBoxFor(model => model.cbp1.RDW, new { title = "RDW", @id = "RDW", placeholder = "%", @class = "logintxts", style = "width:65px; font-size:smaller", @tabindex = "19" })
                        </div>
                        <div style="float: left; width: 185px; text-align: right; margin-left:5px">
                            <span style="float: left">WBC count</span>
                            @Html.TextBoxFor(model => model.cbp1.WbcCount, new { title = "WbcCount", @id = "WbcCount", placeholder = "4500-10500", @class = "logintxts", style = "width:95px; font-size:smaller", @tabindex = "13" })
                        </div>
                        <div style="float: left; width: 150px; text-align: right">
                            <span style="float: left">Pathologist<span style="font-weight: 600; padding: 15px 0px 0px 2px; color: rgb(251, 2, 2);
                                font-size: medium;">*</span> </span>
                            @Html.TextBoxFor(model => model.cbp1.Patholgist, new { title = "Patholgist", @id = "Patholgist", @class = "logintxts", style = "width:65px; font-size:smaller", @tabindex = "20" })
                        </div>
                        <div style="float: left; width: 185px; text-align: right; margin-left:5px">
                            <span style="float: left">Lymphocytes</span>
                            @Html.TextBoxFor(model => model.cbp1.Lymphocytes, new { title = "Lymphocytes", @id = "Lymphocytes", placeholder = "30-50%", @class = "logintxts", style = "width:95px; font-size:smaller", @tabindex = "16" })
                        </div>
                        <div style="float: left; width: 340px; text-align: right">
                            <span>Red Blood Cells</span>
                            @Html.TextBoxFor(model => model.cbp1.RedBloodCells, new { title = "RedBloodCells", @id = "RedBloodCells", placeholder = "4-5.5mil/mm3", @class = "logintxts", style = "width:95px; font-size:smaller", @tabindex = "7" })
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <h3>
            Anti HIV Antibodies (Specimen:Blood)</h3>
        <div>
            <ul style="margin-top: 0px">
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 55%  !important; float: left;
                    background-color: #f7f7f7;">Anti HIV Antibodies (Specimen:Blood)</li>
                <li class="Faminfo_gap_value" style="height: auto !important; width: 35%  !important;">
                    <div style="text-align: right">
                        <span style="float: left">Result</span>
                        @Html.TextBoxFor(model => model.Antihiv1.antiresult, new { title = "antiresult", @id = "antiresult", @class = "logintxts", style = "width:60px;margin-left:15px;", @tabindex = "21" })
                    </div>
                    <div style="text-align: right">
                        <span style="float: left">Methodology</span>
                        @Html.TextBoxFor(model => model.Antihiv1.Methodology, new { title = "Methodology1", @id = "Methodology1", @class = "logintxts", style = "width:60px;margin-left:15px;", @tabindex = "22" })
                    </div>
                    <div style="text-align: right">
                        <span style="float: left">Microbiologist</span>
                        @Html.TextBoxFor(model => model.Antihiv1.Microbiologist, new { title = "Microbiologist1", @id = "Microbiologist1", @class = "logintxts", style = "width:60px;margin-left:15px;", @tabindex = "23" })
                    </div>
                </li>
            </ul>
        </div>
        <h3>
            VDRL (Specimen:Blood)</h3>
        <div>
            <ul style="margin-top: 0px">
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 55%  !important; float: left;
                    background-color: #f7f7f7;">VDRL (Specimen:Blood)</li>
                <li class="Faminfo_gap_value" style="height: auto !important; width: 35%  !important;">
                    <div style="text-align: right">
                        <span style="float: left">Result</span>
                        @Html.TextBoxFor(model => model.Vdrl1.Reportresult, new { title = "Reportresult", @id = "Reportresult", @class = "logintxts", style = "width:60px;margin-left:15px;", @tabindex = "24" })
                    </div>
                    <div style="text-align: right">
                        <span style="float: left">Methodology</span>
                        @Html.TextBoxFor(model => model.Vdrl1.Methodology, new { title = "Methodology2", @id = "Methodology2", @class = "logintxts", style = "width:60px;margin-left:15px;", @tabindex = "25" })
                    </div>
                    <div style="text-align: right">
                        <span style="float: left">Microbiologist</span>
                        @Html.TextBoxFor(model => model.Vdrl1.Microbiologist, new { title = "Microbiologist2", @id = "Microbiologist2", @class = "logintxts", style = "width:60px;margin-left:15px;", @tabindex = "26" })
                    </div>
                </li>
            </ul>
        </div>
        <h3>
            Hepatitis B Surface Antigen (HBASG) (Specimen:Blood)</h3>
        <div>
            <ul style="margin-top: 0px">
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 55%  !important; float: left;
                    background-color: #f7f7f7;">Hepatitis B Surface Antigen (HBASG) (Specimen:Blood)</li>
                <li class="Faminfo_gap_value" style="height: auto !important; width: 35%  !important;">
                    <div style="text-align: right">
                        <span style="float: left">Result</span>
                        @Html.TextBoxFor(model => model.Hepatitisb.Result, new { title = "Reportresult", @id = "Reportresult", @class = "logintxts", style = "width:60px;margin-left:15px;", @tabindex = "27" })
                    </div>
                    <div style="text-align: right">
                        <span style="float: left">Methodology</span>
                        @Html.TextBoxFor(model => model.Hepatitisb.Methodlogy, new { title = "Methodology3", @id = "Methodology3", @class = "logintxts", style = "width:60px;margin-left:15px;", @tabindex = "28" })
                    </div>
                    <div style="text-align: right">
                        <span style="float: left">Microbiologist</span>
                        @Html.TextBoxFor(model => model.Hepatitisb.Microbiologist, new { title = "Microbiologist3", @id = "Microbiologist3", @class = "logintxts", style = "width:60px;margin-left:15px;", @tabindex = "29" })
                    </div>
                </li>
            </ul>
        </div>
        <h3>
            Random Blood Sugar (Specimen:Plasma)</h3>
        <div>
            <ul style="margin-top: 0px">
                <li class="PinfoViewInfo_lbl Faminfo_gap" style="width: 55%  !important; float: left;
                    background-color: #f7f7f7;">Random Blood Sugar (Specimen:Plasma)</li>
                <li class="Faminfo_gap_value" style="height: auto !important; width: 35%  !important;">
                    <div style="text-align: right">
                        <span style="float: left">Result</span>
                        @Html.TextBoxFor(model => model.rbs1.Rbsresult, new { title = "Rbsresult", @id = "Rbsresult", @class = "logintxts", style = "width:60px;margin-left:15px;", @tabindex = "33" })
                    </div>
                    <div style="text-align: right">
                        <span style="float: left">Pathologist</span>
                        @Html.TextBoxFor(model => model.rbs1.patholgist, new { title = "Patholgist", @id = "patholgist", @class = "logintxts", style = "width:60px;margin-left:15px;", @tabindex = "31" })
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ul>
        <li style="width: 100%" class="inline">
            <input type="button" name="btnCancel" class="graygrad" value="Close" onclick="$.modal.close();" />
            @*<input id="btnbloodEdit" type="button" class="greengrad" value="Update" />*@
        </li>
    </ul>
    </form>
</div>
