@model InnDocs.iHealth.Web.UI.Areas.HospitalUser.Models.HospitalOnBoundary.Departments
@{
    ViewBag.title = "";
}
@Scripts.Render("~/bundles/CreateDepartment")
<h2>
    UpdateDepartment</h2>
<div class="bluegrad" style="width: 400px;">
    <form id="subscription_order_form1" class="" method="post" action="">
    @*  <input type="hidden" name="@Model.Id" />*@
    <div>
        @Html.HiddenFor(Model=>Model.Id)
        <div id="rbody" class="Payment">
            <ul>
                <li class="labelnormal">Department name</li>
                <li class="payment_txtbx">@Html.TextBoxFor(Model => Model.DepartmentName, new { id="deptname", tabindex="1",@placeholder = "Enter DepartmentName", title = "Enter your DepartmentName", @class = "logintxts", @readonly="true" })
                    @Html.ValidationMessageFor(Model => Model.DepartmentName)</li>
                <li class="labelnormal">Department Specialization</li>
                <li class="payment_txtbx">@Html.TextBoxFor(Model => Model.DeptSpecialization, new { id = "deptspl", tabindex = "2", @placeholder = "Enter DepartmentSpecialization", title = "Enter DepartmentSpecialization", @class = "logintxts" })
                    @Html.ValidationMessageFor(Model => Model.DeptSpecialization)</li>
                <li class="labelnormal">Department Details</li>
                <li class="payment_txtbx">@Html.TextBoxFor(Model => Model.DeptDetails, new { id = "deptdetails", tabindex = "3", @placeholder = "Enter Department Details", title = "Enter Department Details", @class = "logintxts" })
                    @Html.ValidationMessageFor(Model => Model.DeptDetails)</li>
                <li class="labelnormal"></li>
                <li class="payment_txtbx">
                    <div style="width: 100%; float: right; margin: 0 7px 0 0;" class="inline">
                        <input type="button" class="graygrad" value="close" onclick="$.modal.close();" />
                        <input id="btnsubmit" type="button" value="submit" class="greengrad" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </form>
</div>
